/* importing google fonts */
@import url("https://fonts.googleapis.com/css2?family=Montez&family=Montserrat&display=swap");

/* CSS Variables code starts from here - Chisom and co */

/* color pallete variables */
:root {
  --dark-green: #509e2f;
  --lime-green: #84bd00;
  --silver: #d9d9d9;
  --silver-white: #f5f5f5;
  --mustard-green: #c4d600;
  --black: #000000;
  --ash-white: #d0c5c5;
  --white: #ffffff;
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Montez", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--primary-font);
}

.footer-icons {
  background-color: #000000;
}

/* CSS Variables code ends here --> */


/* Navbar section code starts from here - Nofisat and co */

      /* Replace your code with this */

/* Navbar section ends here --> */


/* Left Sidebar Section Code starts from here - Damilola and co */

ul {
    list-style-type: none;
}

.Sidebar-section {
    margin-left: 3%;
    width: 300px;
}

.Sidebar-section h2 {
    font-family: 'Montez';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 65px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #84BD00;
    margin-bottom: 20px;
}

.recipe-list span {
    font-size: 30px;
    color: #84BD00;
    cursor: pointer;
}

.recipe-list .recipe-sublist {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #000;
}

.recipe-list span:hover {
    background: rgb(34, 31, 31);
    color: #84BD00;
}

#diet, #cuisine {
  display: none;
}

/* Left Sidebar Section Code ends here */


/* Center Main Section Code starts from here - Leo and co */

.main-section {
  display: flex;
}

.main-container {
  width: 60%;
  margin: 15px auto;
}

.cusines-section,
.diet-section,
.bakery-section {
  margin: 40px auto;
}

.cusines,
.diet,
.bakery {
  display: flex;
  justify-content: space-between;
}

.recipe-card {
  max-width: 220px;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 220px;
  height: 197px;
  border-radius: 5px;
}

.recipe-card .img-anchor:hover {
  opacity: 0.5;
}

.recipe-card .title {
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  color: black;
  max-width: 60%;
}

.recipe-card .title:hover {
  color: #509e2f;
}

.recipe-card button {
  background-color: var(--lime-green);
  padding: 3px 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
}

.recipe-card button:hover {
  background-color: var(--dark-green);
  transition: all ease-in-out 0.5;
}

.title-section,
.time-section,
.social-section {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  margin-top: 10px;
  padding: 0 3px 5px;
}

.star,
.time-section,
.social-section {
  font-size: 10px;
}

.right-side-img {
  width: 22%;
  height: 30%;
  margin-top: 15%;
}

@media screen and (max-width: 600px) {
  .main-section {
    width: 97%;
  }
  .cusines, .diet,
  .bakery {
    flex-direction: column;
  }

  .recipe-card {
    margin-bottom: 20px;
    margin-left: 0;
  }

  .recipe-info {
    width: 100%;
  }

  .Sidebar-section h2 {
    font-size: 25px;
  }

  .recipe-list span {
    font-size: 20px;
  }

  .right-side-img {
    display: none;
  }
}
/* Center Main Section Code ends here */

/* Right Sidebar image Code starts from here - Ibrahim and co */

        /* Replace your code with this */

/* Right Sidebar Section Code ends here */


/* Footer section code starts from here - Ngozi and co */

    /* Replace your code with this */

/* Footer section ends here */
